/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/
/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }
	img, video {
		max-width: 100%;
		height: auto;
	}	
		

/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)

/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { padding-bottom: 20px; } /*margin*/

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 40px; }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
	/****one-five****/
    .container .one-five.columns                   { width: 172px; }
	
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }
	
	.container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }
	.container .one-third-footer-spec				{ width: 200px; }
	.container .two-thirds-footer-spec				{ width: 740px; }
	
    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }
	
	/* BLOCKS*/
	.block-4-col	{width:235px; float: left;}
	.block-3-col	{width:313px; float: left;}
	
	/* INSIDE CONTAINERS */
	
	.pad-l-r-5 								{ padding:0 5px 0 5px;}
	.container .in-column,
    .container .in-columns                      { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
	
	
	/*with out borders*/
	.container .in-one-third.in-column          {width:290px;} 
	.container .in-two-third.in-column          {width:600px;}
	.container .in-sixteen.in-columns        	{width:910px;} 
	.container .in-eight.in-columns        		{width:445px;}
	.container .in-four.in-columns        		{width:212px;}
	.container .in-three-four.in-columns        {width:678px;}
	
	/*with borders*/
	/*.container .in-one-third.in-column          {width:289px;} 
	.container .in-two-third.in-column          {width:599px;}
	.container .in-sixteen.in-columns        	{width:908px;} 
	.container .in-eight.in-columns        		{width:444px;}
	.container .in-four.in-columns        		{width:212px;}
	.container .in-three-four.in-columns        {width:676px;}*/



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 28px; }
        .container .two.columns                     { width: 76px; }
        .container .three.columns                   { width: 124px; }
        .container .four.columns                    { width: 172px; }
        .container .five.columns                    { width: 220px; }
        .container .six.columns                     { width: 268px; }
        .container .seven.columns                   { width: 316px; }
        .container .eight.columns                   { width: 364px; }
        .container .nine.columns                    { width: 412px; }
        .container .ten.columns                     { width: 460px; }
        .container .eleven.columns                  { width: 508px; }
        .container .twelve.columns                  { width: 556px; }
        .container .thirteen.columns                { width: 604px; }
        .container .fourteen.columns                { width: 652px; }
        .container .fifteen.columns                 { width: 700px; }
        .container .sixteen.columns                 { width: 748px; }

        .container .one-third.column                { width: 236px; }
        .container .two-thirds.column               { width: 492px; }
		.container .one-third-footer-spec				{ width: 200px; }
		.container .two-thirds-footer-spec				{ width: 548px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 48px; }
        .container .offset-by-two                   { padding-left: 96px; }
        .container .offset-by-three                 { padding-left: 144px; }
        .container .offset-by-four                  { padding-left: 192px; }
        .container .offset-by-five                  { padding-left: 240px; }
        .container .offset-by-six                   { padding-left: 288px; }
        .container .offset-by-seven                 { padding-left: 336px; }
        .container .offset-by-eight                 { padding-left: 384px; }
        .container .offset-by-nine                  { padding-left: 432px; }
        .container .offset-by-ten                   { padding-left: 480px; }
        .container .offset-by-eleven                { padding-left: 528px; }
        .container .offset-by-twelve                { padding-left: 576px; }
        .container .offset-by-thirteen              { padding-left: 624px; }
        .container .offset-by-fourteen              { padding-left: 672px; }
        .container .offset-by-fifteen               { padding-left: 720px; }
		
		/* BLOCKS*/
		.block-4-col	{width:187px; float: left;}
		.block-3-col	{width:249px; float: left;}
		
		/* INSIDE CONTAINERS with out borders */
	
		
		.container .in-one-third.in-column          {width:226px;} 
		.container .in-two-third.in-column          {width:472px;}
		.container .in-sixteen.in-columns        	{width:718px;} 
		.container .in-eight.in-columns        		{width:349px;}
		.container .in-four.in-columns        		{width:164px;}
		.container .in-three-four.in-columns        {width:534px;}
		
		
		/* INSIDE CONTAINERS with borders */
	
		
		/*.container .in-one-third.in-column          {width:225px;} 
		.container .in-two-third.in-column          {width:471px;}
		.container .in-sixteen.in-columns        	{width:716px;} 
		.container .in-eight.in-columns        		{width:348px;}
		.container .in-four.in-columns        		{width:164px;}
		.container .in-three-four.in-columns        {width:532px;}*/

    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column,
		.container .one-third-footer-spec,				
		.container .two-thirds-footer-spec				  { width: 300px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }
		
		/* BLOCKS*/
		.block-4-col	{width:300px; float: left;}
		.block-3-col	{width:300px; float: left;}
		
		/* INSIDE CONTAINERS with out borders */
	
		
		.container .in-one-third.in-column,
		.container .in-two-third.in-column,
		.container .in-sixteen.in-columns,
		.container .in-eight.in-columns,
		.container .in-four.in-columns,
		.container .in-three-four.in-columns  {width:270px;} 
		
		/* INSIDE CONTAINERS with borders */
	
		
		/*.container .in-one-third.in-column,
		.container .in-two-third.in-column,
		.container .in-sixteen.in-columns,
		.container .in-eight.in-columns,
		.container .in-four.in-columns,
		.container .in-three-four.in-columns  {width:268px;} */ 

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .one-third-footer-spec,				
		.container .two-thirds-footer-spec				 { width: 420px; }
		
		/* BLOCKS*/
		.block-4-col	{width:420px; float: left;}
		.block-3-col	{width:420px; float: left;}
		
		/* INSIDE CONTAINERS with out borders */
			
		.container .in-one-third.in-column,
		.container .in-two-third.in-column,
		.container .in-sixteen.in-columns,
		.container .in-eight.in-columns,
		.container .in-four.in-columns,
		.container .in-three-four.in-columns  {width:390px;}
		
		/* INSIDE CONTAINERS with borders */
				/*.container .in-one-third.in-column,
		.container .in-two-third.in-column,
		.container .in-sixteen.in-columns,
		.container .in-eight.in-columns,
		.container .in-four.in-columns,
		.container .in-three-four.in-columns  {width:388px;}*/

    }
	
/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #414146;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: normal; }
	.blog-item h1, .blog-item h2, .blog-item h3, .blog-item h4, .blog-item h5, .blog-item h6 {
		font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
	}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	/*p { margin: 0 0 20px 0; }
	p img { margin: 0; }*/
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	/*strong { font-weight: bold; color: #333; }*/
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 16px; line-height: 23px; color: #777; font-style: italic; font-weight:lighter; }
	blockquote {
	margin: 0 0 10px 38px;
	 padding: 18px 20px;
	/*border-left: 1px solid #ddd;*/

	/*border-left:2px solid #1bbc9b;*/
	position:relative;
	background-color:#f8f8f8;
	/*color:#a0a1a3;*/
}
	blockquote:before {
	background-image: url(../images/quote2.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color:#ffea00;
	z-index:999;
	height:100%;
	width:38px;
	display:block;
	content:"";
	position:absolute;
	left:-38px;
	top:0px;
}
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }
	
	
	
/************************************************************************************************************/	
	
	
	
	/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
   .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }